# Dependencies
/node_modules

# Environment
.env
.env.local
.env.*.local

# Build/Artifacts
/dist
/build
/out

# IDEs/Editors
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Prisma (Keep migrations, exclude local client)
/node_modules/.prisma
/prisma/client
